* {
  font-family: 'Open Sans', sans-serif; }

* {
  margin: 0px;
  padding: 0px; }

/*MENU*/
nav ul {
  /* Here we use flex and justify-content: space-between; to create an evenly */
  /* Spread horizontal nav menu */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.5em;
  list-style: none; }

nav li a {
  text-decoration: none;
  color: #000; }

.nav-bar {
  background-color: #1172B8; }

/*HAMB ICON*/
.menu-hamb {
  font-size: 10vw;
  color: #20AAC9; }

/*LOGO*/
.img-logo {
  width: 40%; }

/*.footer{
	position: relative;
	bottom: 5px;
	right: 20px;
	float: right;
	margin-top: 100px;
	color: $color02;
	font-size: 30px;
	//background-color: none;
}

.lang-txt{
	font-family: 'arial'; //no me lo cambia
	color: $color03;
	font-size: 20px;
}*/
/*FOOTER*/
footer {
  height: 38px;
  background-color: none;
  font-size: 5vw;
  color: #CC8500;
  padding: 0px 25px; }

.footer-icon {
  position: relative;
  float: right; }

.footer-txt_english {
  position: relative;
  float: right;
  color: #20AAC9; }

/*SWITCHES TITLES*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: lightgrey;
  border-radius: 20px;
  transition: all 0.3s; }

.switch::after {
  content: '';
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #20AAC9;
  top: 1px;
  left: 1px;
  transition: all 0.3s; }

.checkbox:checked + .switch::after {
  left: 20px; }

.checkbox:checked + .switch {
  background-color: #ffffff; }

.checkbox {
  display: none; }

/*Main switch*/
.main-toggle {
  float: right;
  margin-right: 30px; }

/*Title and toggle*/
.column-title_left {
  float: left;
  width: 50%; }

.column-title_right {
  float: left;
  width: 50%;
  padding-top: 38px; }

.row-one:after {
  content: "";
  display: table;
  clear: both; }

.title-english {
  color: #20AAC9;
  padding-left: 20px;
  padding-top: 20px;
  font-variant: small-caps;
  font-size: 40px; }

.body-login {
  background-color: #1172B8; }

.img-login {
  width: 100%;
  vertical-align: middle;
  margin-top: 50px; }

.form-login {
  position: relative;
  padding: 20px 20px;
  margin-top: 70px;
  margin-bottom: 110px;
  text-align: center; }

.form-input {
  width: 80%;
  height: 34px;
  font-size: 14px;
  margin-bottom: 10px; }

.btn-login {
  position: relative;
  width: 80%;
  height: 34px;
  color: #ffffff;
  background-color: #CC8500;
  font-size: 16px; }

.container-account {
  /*background-color: blue;*/
  width: 100%;
  position: relative;
  height: 475px; }

/*TXT WELCOME*/
.container-txt {
  margin: 10px;
  padding-left: 20px; }

.txt-welcome {
  font-variant: small-caps;
  font-size: 30px;
  color: #20AAC9; }

/*SCREEN MENU*/
.column-light {
  float: left;
  width: 33%;
  text-align: center;
  /*background-color: lightblue;*/
  margin-bottom: 15px;
  margin-top: 15px; }

.column-climate {
  float: left;
  width: 33%;
  text-align: center;
  /*background-color: cadetblue;*/
  display: inline-block;
  right: 33.3%;
  margin-bottom: 15px;
  margin-top: 15px; }

.column-camera {
  float: left;
  width: 33.3%;
  text-align: center;
  /*background-color: lightblue;*/
  margin-bottom: 15px;
  margin-top: 15px; }

.row-icons:after {
  content: "";
  display: table;
  clear: both; }

.row-icons {
  font-size: 70px;
  color: #ffffff; }

/*icons*/
.icon-circle {
  border: 3px solid #CC8500;
  border-radius: 180px;
  border: 3px solid #CC8500;
  background-color: #ffffff;
  height: 105px;
  width: 105px;
  text-align: center;
  margin: 0 auto; }

.fa-lightbulb, .fa-thermometer-empty, .fa-video {
  color: #CC8500; }

/*MEDIA QUERIES*/
@media only screen and (max-width: 375px) {
  .column-light, .column-climate, .column-camera {
    width: 100%; } }
.container {
  /*background-color: lightblue;*/
  width: 100%;
  height: 500px; }

.camera-box {
  height: 140px;
  width: 80%;
  background-color: black;
  margin-left: 20px;
  margin-top: 20px; }

/*MAIN CAMERA*/
.main-camera {
  width: 300px;
  height: 150px;
  background-color: black;
  margin-left: 40px;
  margin-bottom: 20px; }

/*SMALL CAMERAS*/
.column-left {
  float: left;
  width: 50%;
  height: 150px; }

.column-right {
  float: right;
  width: 50%;
  height: 150px; }

.row-cameras:after {
  content: "";
  display: table;
  clear: both; }

/*ROOMS*/
.container-climate {
  height: 375px; }

.column-left_room {
  float: left;
  width: 50%; }

.column-right_toggle {
  float: left;
  width: 50%; }

.row-two_rooms:after {
  content: "";
  display: table;
  clear: both; }

/*TXT rooms*/
.list-txt {
  color: #20AAC9;
  margin-left: 20px;
  font-size: 25px; }

.list-toggle {
  float: right;
  margin-right: 30px; }

/*ROOMS*/
.container-climate {
  height: 375px; }

.column-left_room {
  float: left;
  width: 50%; }

.column-right_toggle {
  float: left;
  width: 50%; }

.row-two_rooms:after {
  content: "";
  display: table;
  clear: both; }

/*TXT rooms*/
.list-txt {
  color: #20AAC9;
  margin-left: 20px;
  font-size: 25px; }

.list-toggle {
  float: right;
  margin-right: 30px; }

.column-left_menu {
  float: left;
  width: 50%; }

.column-right_menu {
  float: left;
  width: 50%; }

.row-menu:after {
  content: "";
  display: table;
  clear: both; }

/*list style*/
.list-menu {
  color: #20AAC9;
  margin-left: 20px;
  font-size: 25px; }

/*# sourceMappingURL=style.css.map */
